{
  "presets": ["@babel/preset-env"],
  "env": {
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": "current node"
          }
        ]
      ],
      "plugins": ["@babel/plugin-transform-modules-commonjs"]
    },
    "server": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": "node >= 16"
          }
        ]
      ]
    }
  }
}
